<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>3_requestType</display-name>

	<welcome-file-list>
		<welcome-file>uploads.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>RqUpload</servlet-name>
		<servlet-class>pers.mw.exercise.RqUpload</servlet-class>
		<multipart-config>
			<location>D:/tmpworkspace</location>
		</multipart-config>
	</servlet>
	<servlet-mapping>
		<servlet-name>RqUpload</servlet-name>
		<url-pattern>/uploads</url-pattern>
	</servlet-mapping>
</web-app>